<!-- Brief introduction, tagline, or welcome message. -->

<div id ="about" class = "flex-row">
    <div class = "flex justify-content-end grid col-6 pt-8">
        <h1 class ="text-left">
            <span class="block"> Software Developer </span>
            <span class="block">Anh Vo</span>
            <span class="block">Based in Canada</span>
        </h1> 
    </div>

    <!-- Need to apply click func, for later -->
    <div class=" card flex col-6 justify-content-end gap-5">
            <button class="custom-button">Hola!</button>
            <button class="custom-button bg">Resume</button>
          </div>          

    </div>


    <div class="flex flex-wrap align-items-center justify-content-center" style="margin-top: 100px;">
        <img src="/intro-group.svg" alt="Introduction graphic" class="w-min h-min" style="transform: scale(0.80);">
        <div style="position: absolute; top: 68%; left: 53.5%; transform: translate(-50%, -50%); text-align: center; z-index:10; width: 280px; height: 300px;">
            <span class = "font-bold">About me</span> 
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quo excepturi. Accusamus in cupiditate, odit pariatur nihil sit facilis praesentium molestiae dignissimos repellendus at. 
            Dolorem nam ex labore soluta animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quo excepturi. Accusamus in cupiditate, odit pariatur nihil sit facilis praesentium molestiae dignissimos repellendus at. Dolorem nam ex labore soluta animi.
        </div>
    </div>

<div id ="projects" class = "card flex justify-content-center">
    <div class="dock-window ">
        <p-dock [model]="items" >
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%" />
            </ng-template>
        </p-dock>
    </div>
</div>