<!-- Brief introduction, tagline, or welcome message. -->

<div id ="about" class = "flex-row">
    <div class = "flex justify-content-end grid col-6 pt-8">
        <h1 class ="text-left">
            <span class="block"> Software Developer </span>
            <span class="block">Anh Vo</span>
            <span class="block">Based in Canada</span>
        </h1> 
    </div>

    <!-- Need to apply click func, for later -->
    <div class=" card flex col-6 justify-content-end gap-5">
            <button class="custom-button">Hire Me</button>
            <button class="custom-button bg">Resume</button>
          </div>          

    </div>
