<div class="flex justify-content-center">
  <p-image src="/cat.svg" width="150" class="flex col-5" />
</div>

<div class="grid justify-content-center">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-12">
      <label for="message">Message</label>
      <textarea
        id="message"
        type="text"
        rows="4"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      ></textarea>
    </div>
  </div>
</div>
