<div class="contact-section" id="contact">
  <div class="contact-card">
      <p class=" header text-4xl font-bold text-white">Send me a message</p>
   <div class="form-container">
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="name">Name</label>
          <input id="name" type="text" class="input-field" />
        </div>
        <div class="field col-12 md:col-6">
          <label for="email">Email</label>
          <input id="email" type="text" class="input-field" />
        </div>
        <div class="field col-12">
          <label for="message">Message</label>
          <textarea id="message" rows="4" class="input-field"></textarea>
        </div>
      </div>
    </div>
    <div class="send">
      <button class="custom-button">Send</button>
    </div>
  </div>
</div>
