<div class="flex" id="technology">
    <div class="col-2">
        <h1>Technology</h1>
    </div>
    
    <div class="container ">
        <div class="cube">
            <div style="--x:-1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1; --y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
    </div>
</div>