<div class = "grid flex-column">
    <h1> My Work </h1>
    <h3> Technology i'm using</h3>
</div>
<div class="flex justify-content-center">
    <h3> Filter goes here </h3>
    <div class="card"><img src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
      <div class="info">
        <h1>Mountain</h1>
        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
        <button>Read More</button>
      </div>
    </div>
    <div class="card"><img src="https://images.unsplash.com/photo-1425342605259-25d80e320565?auto=format&amp;fit=crop&amp;w=750&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
      <div class="info">
        <h1>Road</h1>
        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
        <button>Read More</button>
      </div>
    </div>
    <div class="card"><img src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?auto=format&amp;fit=crop&amp;w=311&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"/>
      <div class="info">
        <h1>Light</h1>
        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
        <button>Read More</button>
      </div>
    </div>
  </div>


  <!-- <div class="flex justify-content-center">
    <p-carousel 
        [value]="products!" 
        [numVisible]="3" 
        [numScroll]="3" 
        [circular]="true" 
        [responsiveOptions]="responsiveOptions" 
        autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" 
                                [alt]="product.name" 
                                class="w-full border-round" />
                            <p-tag 
                                [value]="product.inventoryStatus" 
                                [severity]="getSeverity(product.inventoryStatus)" 
                                class="absolute" 
                                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-3 font-medium">
                        {{ product.name }}
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <span>
                            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                        </span>
                    </div>
                </div>
            </ng-template>
    </p-carousel>
</div> -->