<!-- <div class id="project">
  <div class="flex flex-wrap justify-content-center column-gap-4 row-gap-6">

    <div class="flex lg:col-6 md:col-8 sm:col-10 justify-content-evenly">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&amp;fit=crop&amp;w=667&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="family" />
        <div class="info">
          <h1>Family Bloom</h1>
          <p>Custom dashboards for each family member featuring tailored content, progress updates, and reminders
            related to their role in the FFT process.</p>
          <a href="https://github.com/Sabvl67/FamilyBloom"><button>More</button></a>
        </div>
      </div>
      <div class="card"><img
          src="https://images.unsplash.com/photo-1425342605259-25d80e320565?auto=format&amp;fit=crop&amp;w=750&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="platepal" />
        <div class="info">
          <h1>Platepal</h1>
          <p> PlatePal is a pioneering initiative designed to assist low-income individuals, including students and
            workers, in acquiring groceries more efficiently, addressing the pressing issue of rising food insecurity.
          </p>
          <a href="https://github.com/Sabvl67/PlatePal"><button>More</button></a>
        </div>
      </div>
      <div class="card"><img
          src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?auto=format&amp;fit=crop&amp;w=311&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="page" />
        <div class="info">
          <h1>Portfolio</h1>
          <p>A portfolio project built with Angular, TypeScript, and PrimeNG components, showcasing my learning
            experience and development skills.</p>
          <a href="https://github.com/Sabvl67/new-portfolio"><button>More</button></a>
        </div>
      </div>
    </div>

    <div class="flex lg:col-6 md:col-4 sm:col-2 justify-content-evenly">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?auto=format&amp;fit=crop&amp;w=311&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="ratspike" />
        <div class="info">
          <h1>Rat Spike Count Generator</h1>
          <p>Generative Adversarial Network (GAN) for generating synthetic spike count patterns using TensorFlow and
            Keras.</p>
          <a href="https://github.com/Sabvl67/Rat-Spike-Count-Generator"><button>More</button></a>
        </div>
      </div>
      <div class="card"><img
          src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?auto=format&amp;fit=crop&amp;w=311&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="predictor" />
        <div class="info">
          <h1>Olympic Predictor</h1>
          <p>Predict the winner of the 2024 Olympic Games by analyzing medal counts from the Tokyo 2021 Olympics. We'll
            train a machine learning model using historical data to forecast outcomes for participating countries.</p>
          <a href="https://github.com/Sabvl67/Olympic-Predictor"><button>More</button></a>
        </div>
      </div>
      <div class="card"><img
          src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?auto=format&amp;fit=crop&amp;w=311&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
          alt="game" />
        <div class="info">
          <h1>Text based Game</h1>
          <p>Your ultimate goal is to rescue the wise man, imprisoned in a mysterious cage, who holds the key to saving
            the country. Welcome, brave knight, to an epic adventure! Your quest spans nine unique settings, each with
            its challenges and mysteries.</p>
          <a href="https://github.com/Sabvl67/Text-based-game"><button>More</button></a>
        </div>
      </div>
    </div>

  </div>
</div> -->

<div class="card">
  <p-carousel 
      [value]="products" 
      [numVisible]="3" 
      [numScroll]="1" 
      [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
              <div class="border-1 surface-border border-round m-2 p-3">
                  <div class="mb-3">
                      <div class="relative mx-auto">
                          <img 
                              src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" 
                              [alt]="product.name" 
                              class="w-full border-round" />
                          <p-tag 
                              [value]="product.inventoryStatus" 
                              [severity]="getSeverity(product.inventoryStatus)" 
                              class="absolute" 
                              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                      </div>
                  </div>
                  <div class="mb-3 font-medium">
                      {{ product.name }}
                  </div>
                  <div class="flex justify-content-between align-items-center">
                      <div class="mt-0 font-semibold text-xl">
                          {{ '$' + product.price }}
                      </div>
                      <span>
                          <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                          <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                      </span>
                  </div>
              </div>
          </ng-template>
  </p-carousel>
</div>
