<div id ="projects" class = "flex flex-column">
    <div class="flex flex-wrap justify-content-center" style="min-height: 200px">
        <div class="z-1 md:z-0 relative flex align-items-center justify-content-center p-4 background-primary font-bold border-round shadow-1" style="width: 100px; height: 100px; left:25px">1</div>
        <div class="z-0 relative flex align-items-center justify-content-center p-4 bg-primary font-bold border-round shadow-1" style="width: 100px; height: 100px; top:10px">2</div>
    </div>

</div>